absl-py
annotated-types
appnope
asttokens
certifi
charset-normalizer
chex
click
cloudpickle
comm
contourpy
cycler
debugpy
decorator
docker-pycreds
econml
etils
executing
fonttools
gitdb
GitPython
idna
iniconfig
ipykernel
ipython
ipywidgets
jax
jaxlib
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
lightgbm
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
ml_dtypes
nest-asyncio
numba
numpy
opt_einsum
optax
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
setuptools
shap
six
slicer
smmap
sparse
stack-data
statsmodels
threadpoolctl
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wandb
wcwidth
widgetsnbextension
